<form [formGroup]="form" (ngSubmit)="save()">
  <div class="grid grid-cols-12 gap-4">

    <mz-form-field-control [colSpan]=6 [readonly]="true" label="Módulo">
      <input type="text" readonly placeholder="Módulo" class="input w-full" [value]="modulo()?.noModulo" />
    </mz-form-field-control>

    <mz-form-field-control [colSpan]=6 [readonly]="true" label="Menú">
      <input type="text" readonly placeholder="Menú" class="input w-full" [value]="menu()?.noMenu" />
    </mz-form-field-control>

    <mz-form-field-control [colSpan]=3 label="Orden"
      [errorMessage]="getError('nuOrden') ? 'El Orden es obligatorio.' : null">
      <input type="number" maxlength="2" required placeholder="Orden" class="input w-full validator" formControlName="nuOrden" id="nuOrden" />
    </mz-form-field-control>

    <mz-form-field-control [colSpan]=9 label="sub Menú"
      [errorMessage]="getError('noOpcion') ? 'El sub Menú es obligatorio.' : null">
      <input type="text" maxlength="50" required placeholder="sub Menú" class="input w-full validator" formControlName="noOpcion"
        id="noOpcion" />
    </mz-form-field-control>

    <mz-form-field-control [colSpan]=6 label="Controlador"
      [errorMessage]="getError('noControlador') ? 'El Controlador es obligatorio.' : null">
      <input type="text" maxlength="50" required placeholder="Controlador" class="input w-full validator" formControlName="noControlador" />
    </mz-form-field-control>


    <mz-form-field-control [colSpan]=6 label="Acción"
      [errorMessage]="getError('noAccion') ? 'La Acción es obligatoria.' : null">
      <input type="text" maxlength="50" required placeholder="Acción" class="input w-full validator" formControlName="noAccion" />
    </mz-form-field-control>



  </div>


  <div class="modal-action">
    <mz-button-control [view]="MenuControlTypeEnum.Cancel" (click)="modalService.close()" />
    <mz-button-control type="submit" shortcut="ctrl+s" [view]="MenuControlTypeEnum.Save" />
  </div>

</form>
